---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css'; // Crée un fichier vide si besoin ou laisse Astro gérer

interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="fr" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="École de surf et Surf House à Sidi Kaouki" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title} | Sidi Surf</title>
	</head>
	<body class="bg-sand text-dark font-sans antialiased flex flex-col min-h-screen">
		<Navbar />
		<main class="flex-grow pt-20">
			<slot />
		</main>
    <Footer />
	</body>
</html>
